{% extends 'parent' %}

{% block main %}
  <div class="text">
    <h2>{{ page.title }}</h2>
    {% editable_long_text 'text' %}
    <p>Una pequeña descripci&oacute;n de la secci&oacute;n</p>
    {% endeditable_long_text %}
  </div>

  {% paginate contents.events by 10 %}
    {% for event in paginate.collection %}
    <div class="event">
      <p class="date">{{ event.date | localized_date: '%B, %Y' }}</p>
      <h4><a href="/events/{{ event._permalink }}">{{ event.title }}</a></h4>
      <div class="short">
        {{ event.summary }} <a href="/events/{{ event._permalink }}">&raquo;</a>
      </div>
    </div>
    {% endfor %}

    {{ paginate | default_pagination: 'previous_label:Recent', 'next_label:Older' }}

  {% endpaginate %}

{% endblock %}
